<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Artist.Name}} - Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1>{{.Artist.Name}}</h1>
		<a href="/artists">Back to artists</a>
	</header>

    <main>
        <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" width="300">

        <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
        <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>

        <h2>Members</h2>
        <ul>
            {{range .Artist.Members}}
                <li>{{.}}</li>
            {{end}}
        </ul>

        {{if .Location.Locations}}
        <h2>Concert Locations</h2>
        <ul>
            {{range .Location.Locations}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{end}}

        {{if .Date.Dates}}
        <h2>Concert Dates</h2>
        <ul>
            {{range .Date.Dates}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{end}}

        {{if .Relation.DatesLocations}}
        <h2>Concerts (Dates & Locations)</h2>
        <ul>
            {{range $location, $dates := .Relation.DatesLocations}}
            <li>
                <strong>{{$location}}</strong>:
                {{range $dates}}
                {{.}}
                {{end}}
            </li>
            {{end}}
        </ul>
        {{end}}
    </main>
</body>
</html>